/* Reset styles */
*,
::after,
::before {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
}

@font-face {
  font-family: "Ekaterina Velikaya One";
  src: url("../ekaterinavelikayaone.ttf");
}

.ekaterina-font {
  font-family: "Ekaterina Velikaya One";
  font-weight: 400;
  font-size: 7.8vw;
  text-align: center;
  color: #e1ff42;
  margin-top: 20px;
}

.container {
  width: 82vw;
  padding: 0 0.7vw;
  margin: 0 auto;
}

.default-btn {
  border-radius: 11.302vw;
  padding: 1.146vw 2.458vw 1.25vw 2.875vw;
  display: flex;
  align-items: center;
  background: #e1ff42;
  border: none;
  transition: 0.3s;
  gap: 0.6vw;
}

.default-btn-text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1vw;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #132b29;
  transition: 0.3s;
}

.default-btn-icon {
  stroke: #132b29;
  transition: 0.5s;
}

.default-btn:hover {
  background-color: #132b29;
  border-radius: 0%;
  gap: 1.5vw;
}

.default-btn:hover .default-btn-text {
  color: #ffffff;
}

.default-btn:hover .default-btn-icon {
  stroke: #fff;
}

/* HEADER----------------------------------------------------------------- */

header {
  padding-top: 1vw;
}

.top-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5vw;
}

.header-number-container {
  display: flex;
  align-items: center;
}

.header-language-container {
  display: flex;
  align-items: center;
  margin-right: 1.5vw;
}

.header-page-language-value {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 1vw;
  color: #0c4d47;
  margin-right: 0.2vw;
}

.page-language-backdrop-icon {
  width: 0.7vw;
  height: 0.7vw;
}

.header-number-value {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 1vw;
  text-transform: uppercase;
  color: #302215;
  padding: 1.5vw;
}

.header-logo {
  width: 6.4vw;
  height: 3.1vw;
}

.header-info-buttons {
  display: flex;
  align-items: center;
  gap: 1.5vw;
}

.left-btns {
  display: flex;
  gap: 1.5vw;
  align-items: center;
}

.left-btn-icons {
  width: 1.25vw;
  height: 1.25vw;
}

.header-btn {
  background-color: transparent;
  border: none;
  padding: 0.4vw;
}

.right-btn-icons {
  width: 2.7vw;
  height: 2.7vw;
}

.header-nav-list {
  display: flex;
  justify-content: center;
  border-top: 2px solid #e6e6e0;
  border-bottom: 2px solid #e6e6e0;
  gap: 5.2vw;
}

.header-list-item {
  padding: 1.4vw 0 1.2vw 0;
}

.list-item-link {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 1vw;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #302215;
  padding: 1.4vw 0 1.2vw 0;
}

.header-search-form {
  position: absolute;
  top: 0.2vw;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1.3px solid #e6e6e0;
  border-radius: 4.323vw;
  padding: 0.781vw 0.938vw;
  width: 14.1vw;
  height: 2.7vw;
  transition: 0.3s;
  transform: translateX(14.7vw);
}

.header-search-input::placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 0.7vw;
  color: #302215;
  opacity: 0.4;
}

.header-btn-search {
  position: absolute;
  top: 0.9vw;
  right: 1vw;
  border: none;
  background-color: transparent;
}

.search-container {
  position: absolute;
  overflow: hidden;
  width: 15vw;
  height: 3vw;
  right: 21vw;
}

.search-container:hover .header-search-form {
  transform: translateX(0);
}
/* HERO--------------------------------------------------------------------------- */
.hero-section {
  padding-bottom: 1vw;
}

.first-hero-container {
  background-image: url(../images/hero-girls-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 69.5vw;
  height: 33.5vw;
  padding-top: 7.6vw;
}

.second-hero-container {
  background-image: url(../images/hero-pills.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 29.1vw;
  height: 33.5vw;
}

.hero-container {
  display: flex;
  padding: 0 1vw;
  gap: 0.4vw;
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 3.75vw;
  line-height: 4.2vw;
  line-height: 1.13;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e1ff42;
  width: 60vw;
  margin-left: 9.8vw;
  margin-bottom: 1.9vw;
}

.hero-title-span {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 3.75vw;
  line-height: 4.2vw;
  line-height: 1.13;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e1ff42;
}

.hero-title-more {
  color: #fff;
  font-style: normal;
  text-indent: 4vw;
}

.hero-steya-span {
  display: inline;
}

.hero-btn {
  margin-left: 13.2vw;
}

.header-btn-bag {
  width: 2.8vw;
  height: 2.8vw;
  border: none;
  border-radius: 100%;
  background-color: #e1ff42;
  transition: 0.3s;
}

.btn-bag-icon {
  stroke: #132b29;
  transition: 0.3s;
}

.header-btn-bag:hover {
  background-color: #132b29;
  border-radius: 0;
}

.header-btn-bag:hover .btn-bag-icon {
  stroke: #ffffff;
}

.header-btn-profile {
  background-color: #e6e6e0;
  border-radius: 100%;
  border: none;
  width: 2.8vw;
  height: 2.8vw;
  transition: 0.3s;
  margin-right: 0.5vw;
}

.btn-profile-icon {
  stroke: #132b29;
  transition: 0.3s;
}

.header-btn-profile:hover {
  background-color: #132b29;
  border-radius: 0;
}

.header-btn-profile:hover .btn-profile-icon {
  stroke: #ffffff;
}

.header-btn-like {
  background-color: transparent;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  width: 2.8vw;
  height: 2.8vw;
  background-color: #e1ff42;
  border: none;
  transition: 0.3s;
}

.btn-like-icon {
  fill: #0c4d47;
}

.header-btn-like:hover {
  background-color: #132b29;
}

.header-btn-like:hover .btn-like-icon {
  fill: #e1ff42;
}

/* BESTSELLER ----------------------------------------------------------------------------*/

.bestseller-section {
  padding: 5.2vw 0 6.25vw 0;
}

.bestseller-upper-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.6vw;
}

.bestseller-title-container {
  display: flex;
  align-items: baseline;
}

.bestseller-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.6vw;
  line-height: 1.9vw;
  line-height: 1.17412;
  text-transform: uppercase;
  color: #132b29;
  opacity: 0.8;
  margin-right: 0.5vw;
}

.bestsellers-LL-title-span {
  font-style: italic;
}

.bestseller-title-number {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1vw;
  letter-spacing: 0.08em;
  color: #132b29;

  opacity: 0.4;
}

.besteseller-item-product-image {
  transition: 0.5s;
}

.bestseller-product-list {
  display: flex;
  gap: 0.4vw;
  justify-content: center;
}

.bestseller-product-item {
  position: relative;
  overflow: hidden;
}

.product-image-wrap {
  position: relative;
  width: 19.7vw;
  margin-bottom: 0.8vw;
  overflow: hidden;
}

.product-marker {
  position: absolute;
  top: 1vw;
  left: 0;
  background: #0c4d47;
  padding: 0.6vw 0.9vw;
  width: fit-content;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discount-type {
  background-color: #ff6847;
}

.product-marker-text {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 0.7vw;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
  width: fit-content;
}

.bestseller-version-like {
  position: absolute;
  top: 1vw;
  right: 1vw;
  background-color: transparent;
}

.bestseller-version-like:hover {
  background-color: #0c4d47;
}

.bestseller-swiper-btn {
  display: flex;
  gap: 1.6vw;
}

.swiper-btn-left,
.swiper-btn-right {
  width: 2.7vw;
  height: 2.7vw;
  border-radius: 100%;
  border: none;
  background: transparent;
  transition: 0.3s;
}

.bestseller-swiper-icon-left {
  stroke: #132b29;
  transition: 0.3s;
}

.bestseller-swiper-icon-right {
  stroke: #132b29;
  transition: 0.3s;
}

.swiper-btn-left:hover,
.swiper-btn-right:hover {
  background-color: #132b29;
  border-radius: 0;
}

.swiper-btn-left:hover .bestseller-swiper-icon-left {
  stroke: #ffffff;
}

.swiper-btn-right:hover .bestseller-swiper-icon-right {
  stroke: #ffffff;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.8vw;
}

.rating-value {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.8vw;
  letter-spacing: -0.02em;
  color: #0c4d47;

  opacity: 0.4;
}

.product-type {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.8vw;
  color: #302215;
  margin-bottom: 0.4vw;
  opacity: 0.6;
}

.product-name {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.2vw;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #302215;
  width: 19vw;
  margin-bottom: 1vw;
}

.product-price {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.9vw;
  color: #302215;
}

.price-grivna {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 0.9vw;
  color: #302215;
}

.bestseller-product-item:hover .besteseller-item-product-image {
  transform: scale(1.2);
}

.product-item-basket-button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.7vw;
  height: 2.2vw;
  background: #e1ff42;
  transform: translateX(100%);
  transition: 0.1s;
  border: none;
}

.basket-text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.9vw;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #132b29;
  transition: 0.1s;

  margin-right: 1vw;
}

.basket-icon {
  fill: #132b29;
  transition: 0.3s;
}

.bestseller-product-item:hover .product-item-basket-button {
  transform: translateX(0);
}

.product-item-basket-button:hover {
  background: #132b29;
}

.product-item-basket-button:hover .basket-text {
  color: #ffffff;
}

.product-item-basket-button:hover .basket-icon {
  fill: #ffffff;
}

/* SWIPER  --------------------------------------------------------------------------------*/
.swiper-container {
  display: flex;
  justify-content: center;
  gap: 0.4vw;
}

.first-swiper-wrap {
  position: relative;
  overflow: hidden;
  width: 49vw;
  height: 49vw;
}

.swiper-slide {
  transform: scale(2.2);
  object-fit: contain;
  object-position: -1vw -3.5vw;
  filter: brightness(0.8);
  position: relative;
}

.slide-title-container {
  position: absolute;
  top: 14vw;
  left: 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-swiper-slide {
  object-fit: cover;
  width: 49vw;
  height: 49vw;
}

.swiper-slide-circle {
  position: absolute;
  top: 1vw;
  left: 0.4vw;
  width: 48vw;
  height: 47vw;
}

.slider-first-totle-span,
.slider-second-title-span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.7vw;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #e1ff42;
}

.slider-first-totle-span {
  position: absolute;
  top: -6vw;
  right: 0;
  display: flex;
  align-items: center;
}

.slider-first-totle-span::after {
  content: "";
  width: 0.3vw;
  height: 0.3vw;
  background-color: #e1ff42;
  border-radius: 100%;
  margin-left: 0.3vw;
}

.slider-second-title-span {
  position: absolute;
  bottom: -5vw;
  left: 3vw;
  display: flex;
  align-items: center;
}

.slider-second-title-span::before {
  content: "";
  width: 0.3vw;
  height: 0.3vw;
  background-color: #e1ff42;
  border-radius: 100%;
  margin-right: 0.3vw;
}

.swiper-salad-span {
  color: #e9e9ea;
}

.swiper-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 3.7vw;
  line-height: 4.2vw;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  width: 34vw;
  margin-bottom: 2.1vw;
}

/* YAMMY SECTION -----------------------------------------------------------------*/

.yammy-section {
  padding: 5.2vw 0 6.25vw 0;
  height: 65vw;
  background-image: url(../images/yammy-pollen-bg.jpg);
  background-repeat: no-repeat;
  background-size: 99vw 25vw;
  background-position: center 11vw;
}

.yammy-title {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 1.6vw;
  line-height: 1.9vw;
  text-transform: uppercase;
  color: #132b29;
  margin-right: 0.5vw;
  text-align: center;
  margin-bottom: 10vw;
}

.yammy-title-span {
  font-style: normal;
}

.yammy-title-number {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1vw;
  color: #132b29;

  opacity: 0.4;
}

.yammy-title-container {
  margin-bottom: 13.5vw;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.bestseller-product-list-in-yummy {
  margin-bottom: 3.7vw;
}

.default-btn-in-yummy {
  margin: 0 auto;
}

/* SCRUB ------------------------------------------------------------------------------- */

.scrub-section {
  display: flex;
  justify-content: center;
  gap: 0.4vw;
}

.left-scrab-container {
  width: 49vw;
  height: 49vw;
  background: linear-gradient(rgba(19, 43, 41, 0.2), rgba(19, 43, 41, 0.2)),
    url(../images/scrub-section-bg/hands.jpg);

  background-repeat: no-repeat;
  background-size: contain;
}

.right-scrub-container {
  overflow: hidden;
  width: 49vw;
  height: 49vw;
}

.scrub-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 4.7vw;
  line-height: 5.4vw;
  line-height: 1.13;
  text-transform: uppercase;
  color: #fff;
  width: 28vw;
  margin-top: 9.7vw;
  margin-left: 8vw;
}

.scrub-text {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 1.3vw;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #fff;
  width: 21vw;
  margin-left: 19.3vw;
  margin-bottom: 2vw;
}

.scrub-btn {
  margin: 0 auto;
}

.scrub-text-container {
  margin-left: 19vw;
}

/* COSMETIX section ------------------------------------=[------------------------------- */

.cosmetix-section {
  padding: 6.25vw 0 7.2vw 0;
}

.yammy-title-container {
  margin-bottom: 3.7vw;
}

.cosmetix-title {
  margin-bottom: 0;
}

.cosmetix-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4vw;
  column-gap: 0.5vw;
}

.cosmetix-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cosmetix-item:nth-child(1) {
  width: 60vw;
  height: 26.4vw;
  background-image: linear-gradient(
      rgba(19, 43, 41, 0.2),
      rgba(19, 43, 41, 0.2)
    ),
    url(../images/cosmetix/yummy.jpg);
  background-size: contain;
}

.cosmetix-item:nth-child(2) {
  width: 19.7vw;
  height: 26.4vw;
  background-image: linear-gradient(
      rgba(19, 43, 41, 0.2),
      rgba(19, 43, 41, 0.2)
    ),
    url(../images/cosmetix/maneater.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.cosmetix-item:nth-child(3) {
  width: 39.8vw;
  height: 26.4vw;
  background-image: linear-gradient(
      rgba(19, 43, 41, 0.2),
      rgba(19, 43, 41, 0.2)
    ),
    url(../images/cosmetix/blossom.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.cosmetix-item:nth-child(4) {
  width: 19.7vw;
  height: 26.4vw;
  background-image: linear-gradient(
      rgba(19, 43, 41, 0.2),
      rgba(19, 43, 41, 0.2)
    ),
    url(../images/cosmetix/home.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.cosmetix-item:nth-child(5) {
  width: 19.7vw;
  height: 26.4vw;
  background-image: linear-gradient(
      rgba(19, 43, 41, 0.2),
      rgba(19, 43, 41, 0.2)
    ),
    url(../images/cosmetix/face.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.cosmetix-item:nth-child(6) {
  width: 19.7vw;
  height: 26.4vw;
  background-image: linear-gradient(
      rgba(19, 43, 41, 0.2),
      rgba(19, 43, 41, 0.2)
    ),
    url(../images/cosmetix/home.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.cosmetix-item:nth-child(7) {
  width: 60vw;
  height: 26.4vw;
  background-image: linear-gradient(
      rgba(19, 43, 41, 0.2),
      rgba(19, 43, 41, 0.2)
    ),
    url(../images/cosmetix/woman.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.cosmetix-item-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.6vw;
  line-height: 1.9vw;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s;
}

.cosmetix-item:hover .cosmetix-item-title {
  transform: translateY(-2.5vw);
  font-size: 2.7vw;
  line-height: 3.9vw;
  text-transform: uppercase;
  color: #e1ff42;
}

.cosmetix-item-btn {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.6vw;
  border: 0.15vw solid #e1ff42;
  border-radius: 11.3vw;
  padding: 1.1vw 1.4vw 1.1vw 1.8vw;
  background-color: transparent;
  opacity: 0;
  transition: 0.3s;
}

.cosmetix-item-btn:hover {
  border-radius: 0;
  gap: 1.5vw;
}

.cosmetix-item:hover .cosmetix-item-btn {
  opacity: 1;
  transform: translateY(2.5vw);
}

.item-btn-text {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 0.9vw;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #e1ff42;
}

/* WHY section ------------------------------------------------------------------------- */

.why-section {
  background-image: linear-gradient(360deg, #0b1817, rgba(11, 24, 23, 0)),
    url(../images/why-sect-bg/tropical-foliage-textured-pattern-background\ 2.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 27.5vw;
  padding-top: 7.8vw;
  padding-bottom: 4.6vw;
  height: 92vw;
  display: flex;
  justify-content: center;
}

.why-title {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 3.7vw;
  line-height: 4.2vw;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
  width: 23vw;
  text-indent: 2.8vw;
}

.why-images-container {
  position: relative;
}

.why-image-blocks {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.first-why-block .why-block-text {
  width: 22vw;
}

.second-why-block .why-block-text {
  width: 9.3vw;
  text-indent: 6.5vw;
}

.why-block-text {
  margin-top: 2vw;
}

.first-why-image {
  width: 40vw;
  height: 45.5vw;
}

.why-block-text {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 1.3vw;
  letter-spacing: -0.02em;
  color: #302215;
  opacity: 0.7;
}

.second-why-block {
  margin-top: 7vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.second-why-image {
  width: 19.7vw;
  height: 25vw;
}

.third-why-block {
  position: absolute;
  width: 19.7vw;
  bottom: -16vw;
  right: 20.5vw;
}

.why-circle {
  position: absolute;
  top: -13vw;
  z-index: -1;
  left: -15vw;
  width: 48vw;
  height: 48vw;
}

/* RECOMENDATION section ----------------------------------------------------------------- */

.recomendation-section {
  padding-bottom: 4.1vw;
  padding-top: 7vw;
}

.recomendation-title-container {
  display: flex;
  align-items: baseline;
  gap: 0.5vw;
  margin-bottom: 3.7vw;
}

.recomendation-title {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 1.6vw;
  line-height: 1.9vw;
  text-transform: uppercase;
  color: #132b29;
}

.recomendation-title-number {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1vw;
  letter-spacing: 0.08em;
  color: #132b29;
  opacity: 0.4;
}

.recomendation-swiper-list {
  display: flex;
  gap: 0.4vw;
  align-items: flex-start;
}

.recomendation-swiper-item {
}

.main-recomendation-image {
  width: 40vw;
  height: 22.4vw;
  margin-bottom: 2vw;
}

.main-item-recomendation-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 2.5vw;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #302215;
  width: 40vw;
  margin-bottom: 1vw;
}

.recomendation-item-title-span {
  font-style: italic;
}

.secondaries-recomendation-items {
  display: flex;
  gap: 0.4vw;
  margin-top: 4.4vw;
}

.main-item-recomendation-text {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 1.3vw;
  letter-spacing: -0.02em;
  color: #302215;
  opacity: 0.7;
  width: 35vw;
}

.secondary-recomendation-image {
  width: 24.4vw;
  height: 18vw;
  margin-bottom: 2vw;
}

.secondary-item-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.6vw;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #302215;
  width: 23vw;
  margin-bottom: 5.4vw;
}

/* INASTAGRAM section --------------------------------------------------------------------- */

.inastagram-section {
  padding: 5.2vw 0;
}

.instagram-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6vw;
  line-height: 1.9vw;
  text-transform: uppercase;
  color: #132b29;
  opacity: 0.8;
  width: 18vw;
  margin: 0 auto;
  margin-bottom: 3.7vw;
}

.instagram-title-span {
  font-style: italic;
}

.instagram-upper-image-container {
  display: flex;
  gap: 0.4vw;
  margin-bottom: 0.4vw;
}

.upper-large-images {
  width: 32.08vw;
  height: 31.25vw;
}

.upper-small-images {
  width: 15.4vw;
  height: 15.4vw;
}

.upper-small-images-container {
  display: flex;
  flex-direction: column;
  gap: 0.4vw;
}

.instagram-bootom-image-container {
  display: flex;
  gap: 0.4vw;
}

.bottom-small-images {
  width: 19.7vw;
  height: 19.7vw;
}

.botoom-large-image {
  width: 40.2vw;
  height: 39.8vw;
}

.bottom-small-iamges-container {
  display: flex;
  gap: 0.4vw;
}

.bottom-small-images-column {
  display: flex;
  flex-direction: column;
  gap: 0.4vw;
}

/* INFO -section ---------------------------------------------------------------------------*/

.section-info {
  padding: 4.1vw 0 7.2vw 0;
}

.info-list {
  display: flex;
}

.info-item {
  width: 19.7vw;
}

.info-item-icon-container {
  width: 7.5vw;
  height: 7.5vw;
  background-color: #e6e6e0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.6vw;
}

.info-icon {
  width: 4vw;
  height: 4vw;
}

.info-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1vw;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #302215;
  width: 13vw;
  margin-bottom: 0.8vw;
}

.info-text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 1.3vw;
  letter-spacing: -0.02em;
  color: #302215;
  opacity: 0.7;
  width: 15vw;
}

/* NEWS section ----------------------------------------------------------------------- */
.news-section {
  display: flex;
  justify-content: center;
  gap: 0.4vw;
  padding-bottom: 0.4vw;
}

.left-news-container {
  background-image: url(../images/news/IMG_7872\ 1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 49vw;
  height: 49vw;
  padding-left: 0.5vw;
  padding-top: 0.5vw;
}

.news-rectangle {
  width: 48vw;
  height: 48vw;
}

.right-news-container {
  width: 49vw;
  height: 49vw;
  background-image: linear-gradient(39deg, #0b1817 0%, rgba(11, 24, 23, 0) 100%),
    url(../images/news/tropical-foliage-textured-pattern-background\ 3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5.7vw 2.2vw 0 6.1vw;
}

.news-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 3.7vw;
  line-height: 4.2vw;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #fff;
  width: 30vw;
  margin-bottom: 3.3vw;
}

.news-form {
  background-color: transparent;
  border-bottom: 2px solid #fff;
  padding: 1.2vw 0px;
  width: 33.2vw;
  transition: 0.3s;
}

.news-form:hover {
  border-bottom: 2px solid #e1ff42;
}

.news-form-input::placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.4vw;
  color: #fff;
}

.news-form-input {
  background-color: transparent;
  width: 30vw;
  height: 2vw;
  border: none;
}

.news-form-icon {
  width: 2.1vw;
  height: 1.6vw;
}

.news-form-btn {
  background: transparent;
  border: none;
}

/* FOOTER -------------------------------------------------------------------------------- */

footer {
  background: #132b29;
  padding-bottom: 3.3vw;
}

.footer-upper-line {
  border-bottom: 1px solid #e6e6e0;
  padding-bottom: 2.7vw;
  padding-top: 3.1vw;
}

.upper-line-container {
  display: flex;
}

.footer-insta-link {
  display: flex;
  align-items: center;
  gap: 0.5vw;

  margin-left: auto;
}

.footer-insta-icon-container {
  width: 2.7vw;
  height: 2.7vw;
  border-radius: 100%;
  background-color: rgba(230, 230, 224, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.footer-insta-icon {
  width: 1.1vw;
  height: 1.2vw;
  fill: #e1ff42;
  transition: 0.3s;
}

.insta-link-text {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.2vw;
  color: #fff;
  transition: 0.3s;
}

.footer-insta-link:hover .footer-insta-icon-container {
  border-radius: 0;
  background-color: #e1ff42;
}

.footer-insta-link:hover .footer-insta-icon {
  fill: #132b29;
}

.footer-insta-link:hover .insta-link-text {
  color: #e1ff42;
}

.footer-bottom-container {
  padding-top: 2.7vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vw;
}

.left-footer-container {
  display: flex;
  gap: 10vw;
}

.footer-addres-block {
}

.footer-tel-number {
  font-family: "Inter", sans-serif;
  transition: 0.3s;
  font-weight: 600;
  font-size: 1.6vw;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  margin-bottom: 0.8vw;
}

.footer-tel-number:hover {
  color: #e1ff42;
}

.footer-mail-address {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.2vw;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  margin-bottom: 2vw;
  transition: 0.3s;
}

.footer-mail-address:hover {
  text-decoration: underline;
  color: #e1ff42;
}

.footer-work-schedule {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 0.8vw;
  color: #fff;
  margin-bottom: 2vw;

  opacity: 0.8;
}

.footer-nav-block {
}

.footer-lists-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.4;
  margin-bottom: 1.6vw;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.25vw;
}

.footer-nav-link {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.9vw;
  color: #fff;
  transition: 0.3s;
}

.footer-nav-link:hover {
  color: #e1ff42;
}

.fppter-form-block {
}

.footer-form-describe {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 2.5vw;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #e1ff42;
  opacity: 0.8;
  width: 19.4vw;
  margin-bottom: 1.7vw;
}

.describe-span {
  font-style: italic;
}

.footer-form {
  width: 19.2vw;
}

.footer-form-input {
  width: 16vw;
}

.right-footer-container {
  display: flex;
  gap: 8vw;
}

.steya-footer {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.1vw;
  color: #fff;
  margin-right: 34vw;
  opacity: 0.23;
}

.footer-payment-list {
  display: flex;
  gap: 3.5vw;
}

.footer-payment-container {
  display: flex;
}

.footer-payment-icon {
  opacity: 0.4;
  width: 3.3vw;
}
